@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-dashboard"></i>
        </div>
        <div class="header-title">
            <h1>CRM Admin Dashboard</h1>
            <small>Very detailed & featured admin.</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Barchart -->
            <div class="col-lg-8  col-md-12 col-sm-12 ">
                <div class="card lobicard lobicard-custom-control" data-sortable="true">
                    <div class="card-header">
                        <div class="card-title custom_title">
                            <h4>Sales Chart</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="barChart" height="150"></canvas>
                    </div>
                </div>
            </div>
            <!-- bar chart -->
            <div class="col-lg-4  col-md-12 col-sm-12 ">
                <div class="card lobicard lobicard-custom-control" data-sortable="true">
                    <div class="card-header">
                        <div class="card-title custom_title">
                            <h4>Target Vs Sales</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="singelBarChart" height="323"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Barchart -->
            <div class="col-lg-8  col-md-12 col-sm-12 ">
                <div class="card lobicard lobicard-custom-control" data-sortable="true">
                    <div class="card-header">
                        <div class="card-title custom_title">
                            <h4>Sales Chart</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="barChart1" height="150"></canvas>
                    </div>
                </div>
            </div>
            <!-- bar chart -->
            <div class="col-lg-4  col-md-12 col-sm-12 ">
                <div class="card lobicard lobicard-custom-control" data-sortable="true">
                    <div class="card-header">
                        <div class="card-title custom_title">
                            <h4>Target Vs Sales</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="singelBarChart1" height="323"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
