<ul class="sidebar-menu">
    <li class="active">
        <a href="~/EmpireHome/Dashboard">
            <i class="fa fa-tachometer"></i><span>Dashboard</span>
            <span class="pull-right-container">
            </span>
        </a>
    </li>

    <!--<li class="treeview">
        <a href="#">
            <i class="fa fa-database"></i><span>Masters</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left float-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Master/Usertypes">User Types</a></li>
            <li><a href="~/Master/Categories">Categories</a></li>
            <li><a href="~/Master/SubCategories">Sub Categories</a></li>
            <li><a href="~/Master/Loctation">Location </a></li>
            <li><a href="~/Master/Condition">Condition</a></li>
            <li><a href="~/Master/InventoryStatus">Inventory Status</a></li>-->
    @*<li><a href="~/Master/MonthlyWorkingDays">Monthly Working Days</a></li>*@
    <!--<li><a href="~/Master/Modules">Modules</a></li>
            <li><a href="~/Master/Previleges">Privileges</a></li>
            <li><a href="~/Master/Holidays">Holidays</a></li>
            <li><a href="~/Master/Shifts">Shifts</a></li>
            <li><a href="~/Master/Company">Company</a></li>
            <li><a href="~/Master/GST">GST</a></li>
            <li><a href="~/Master/FinanceGroup">Finance Group</a></li>
            <li><a href="~/Master/FinanceHead">Finance Heads</a></li>
            <li><a href="~/Master/MRPFactors">MRP Factors</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-houzz"></i><span>Inventory</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left float-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Inventory/All">All Inventory</a></li>
            <li><a href="~/Inventory/Warehouse">Warehouse Inventory</a></li>
            <li><a href="~/Inventory/Showroom">Showroom Inventory</a></li>
            <li><a href="~/Inventory/MoveStock">Move Stock</a></li>
            <li><a href="~/Inventory/StockMovement">Stock Movement Register</a></li>
            <li><a href="~/Inventory/InventoryData">Add Inventory</a></li>
        </ul>
    </li>-->
<li class="treeview">
    <a href="#">
        <i class="fa fa-id-card"></i><span>Staff</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left float-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        @*<li><a href="~/Staff/NewStaffList">New Registered</a></li>
        <li><a href="~/Staff/StaffList">Staff List</a></li>
        <li><a href="~/Staff/AddNewStaff">Add New Staff</a></li>
        <li><a href="~/Staff/StaffAttendance">Staff Attendance</a></li>
        <li><a href="~/Staff/MonthlyPayRoll">Staff Payroll</a></li>*@
        <li><a href="~/Staff/ReportingManagerList">Targets</a></li>
        @*<li><a href="~/Staff/StaffLoans">Loans & Advances</a></li>*@
    </ul>
</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart"></i><span>Sales</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left float-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/AdminSales/Discounts">Quotes for discount</a></li>
            <li><a href="~/AdminSales/SalesExecutives">Sales Executives</a></li>
            <li><a href="~/AdminSales/OpenOrders">Open Sale Orders</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i><span>Customers</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left float-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/User/CustomerList">All Customers</a></li>
            <li><a href="#">Add Customer</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-truck"></i><span>Dispatch</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left float-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/AdminSales/DeliveryChallans">Ready to Despatch</a></li>
            <li><a href="~/AdminSales/Despatched">Despatched</a></li>
        </ul>
    </li>
    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-inr"></i><span>Finance</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left float-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Finance/Payments">Payments</a></li>
                <li><a href="~/Finance/Receipt">Receipts</a></li>
                <li><a href="~/Finance/ContraEntry">Contra Transactions</a></li>
                <li><a href="~/Finance/LedgersDisplay">Ledgers</a></li>
                <li><a href="~/Finance/OpenOrders">Open Ordres</a></li>
            </ul>
        </li>*@
    <li class="treeview">
        <a href="#">
            <i class="fa fa-file"></i><span>Reports</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left float-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
        
        </ul>
    </li>

</ul>