@{
    Layout = null;
}
<!DOCTYPE html>
<table style=" background-repeat:no-repeat; width:450px;margin:0;" cellpadding="0" cellspacing="0" border="0">
    <tr style="height:40px; width:450px; margin:0;">
        <td style="height:40px; width:400px; margin:0;">
            <p style=" margin:0;">Scasa India Pvt. Ltd. 8-2-694/B/3/4B Road. No. 12 Banjara Hills Hyderabad 34  </p>
        </td>

    </tr>
    <tr style="height:40px; width:450px; margin:0;">
        <td style="height:40px; width:400px; margin:0;">
            T    • 91 40 6636 8888   / • 91 40 6651 8888	www.scasa.in
        </td>

    </tr>
</table>